// object files
*.o

// dependency
*.d

// binary

// Mod00
megaphone
phonebook
account

// Mod01
BraiiiiiiinnnzzzZ
Moar_brainz!
HI_THIS_IS_BRAIN
Unnecessary_violence
Sed_is_for_losers
Harl_2_0
harlFilter

//Mod02
a.out